body{
    font-family: Roboto, Ralway, sans-serif;
    color: #434455;
}

a{
    color:#434455;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* header */

.header-logo{
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.nav-logo-first{
    color: #4d5ae5;
}

.header-nav-item{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.header-address-item{
    line-height: 150%;
    letter-spacing: 0.02em;
    font-style: normal;
}

/* main */
.hero{
    text-align: center;
}
.hero-title{
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
}

.hero-button{
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: white;
    background: #4d5ae5;
    cursor: pointer;
}